services:
  dstats:
    container_name: docker-stats-web-test
    build: .
    image: dstats:latest
    restart: always
    ports:
      - "6743:2743"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    privileged: true
    environment:
      - DJANGO_SETTINGS_MODULE=dStats.settings
      - USE_AUTH=true
      - AUTH_USERNAME=<your_username>
      - AUTH_PASSWORD=<your_password>
